// Text input groups
// -------------------------
.input-group-addon {
  padding: 0.5rem 0.75rem;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1;
  color: $input-color;
  // text-align: center;
  background-color: $input-group-addon-bg;
  border: 1px solid $input-group-addon-border-color;
  border-radius: $input-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;

  // Sizing
  &.input-sm {
    padding: 0.25rem 0.75rem;
    font-size: $font-size-sm;
    border-radius: $input-border-radius-small;
  }
  &.input-lg {
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-lg;
    border-radius: $input-border-radius-large;
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: -0.0625rem;
    margin-right: 0.375rem;
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

.input-group-sm {
  span {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}

@include input-size('.input-sm', $input-height-sm, $padding-small-vertical, $padding-small-horizontal, $font-size-sm, $line-height-small, $input-border-radius-small);
.form-group-sm {
  .form-control {
    height: $input-height-sm;
    padding: $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-sm;
    line-height: $line-height-small;
    border-radius: $input-border-radius-small;
  }
  select.form-control {
    height: $input-height-sm;
    line-height: $input-height-sm;
  }
  textarea.form-control,
  select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: $input-height-sm;
    min-height: ($line-height-computed + $font-size-sm);
    padding: ($padding-small-vertical + 1) $padding-small-horizontal;
    font-size: $font-size-sm;
    line-height: $line-height-small;
  }
}

@include input-size('.input-lg', $input-height-lg, $padding-large-vertical, $padding-large-horizontal, $font-size-lg, $line-height-large, $input-border-radius-large);
.form-group-lg {
  .form-control {
    height: $input-height-lg;
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-lg;
    line-height: $line-height-large;
    border-radius: $input-border-radius-large;
  }
  select.form-control {
    height: $input-height-lg;
    line-height: $input-height-lg;
  }
  textarea.form-control,
  select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: $input-height-lg;
    min-height: ($line-height-computed + $font-size-lg);
    padding: ($padding-large-vertical + 1) $padding-large-horizontal;
    font-size: $font-size-lg;
    line-height: $line-height-large;
  }
}