//-
  sample:
    title: End (right) floated block
    code: .bsk-float-end
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.bsk-col-md-3.bsk-float-end.app-visible-col-1
    div.bsk-clearfix
