//-
  sample:
    title: Centred block
    code: .bsk-position-absolute .bsk-top-50 .bsk-start-50 .bsk-translate-middle
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.bsk-position-absolute.bsk-top-50.bsk-start-50.bsk-translate-middle.app-visible-col-1(style="width:40%")
