//-
  sample:
    title: Hidden block
    code: .bsk-d-none
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.app-visible-col-1
    div.app-visible-col-2.bsk-d-none
    div.app-visible-col-3
