//-
  sample:
    title: Visibility breakpoints - hidden
    code: .bsk-d-*-none
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    +alert('success', 'highlight')
      | Visible combinations are shown in #[strong green].
    +alert('info', 'highlight')
      | The active breakpoint is indicated in the table header

    table.bsk-table.bsk-table-responsive
      thead
        tr
          th(scope='col') <!-- Intentionally blank -->
          th(scope='col')
            span.bsk-d-none.bsk-d-sm-block.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Extra Small
            span.bsk-d-block.bsk-d-sm-none
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Extra Small
          th(scope='col')
            span.bsk-d-sm-none.bsk-d-md-block.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Small
            span.bsk-d-none.bsk-d-sm-block.bsk-d-md-none
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Small
          th(scope='col')
            span.bsk-d-md-none.bsk-d-lg-block.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Medium
            span.bsk-d-none.bsk-d-md-block.bsk-d-lg-none
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Medium
          th(scope='col')
            span.bsk-d-lg-none.bsk-d-xl-block.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Large
            span.bsk-d-none.bsk-d-lg-block.bsk-d-xl-none
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Large
          th(scope='col')
            span.bsk-d-xl-none.bsk-d-fhd-block.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Extra Large
            span.bsk-d-none.bsk-d-xl-block.bsk-d-fhd-none
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Extra Large
          th(scope='col')
            span.bsk-d-fhd-none.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Full HD
            span.bsk-d-none.bsk-d-fhd-block
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-visually-hidden Active breakpoint
              |
              | Full HD
      tbody
        tr
          td: code bsk-d-none bsk-d-sm-none
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-d-none bsk-d-sm-block bsk-d-md-none
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-d-none bsk-d-md-none bsk-d-lg-block
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-d-none bsk-d-lg-block bsk-d-xl-none
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-d-none bsk-d-xl-block bsk-d-fhd-none
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-d-none bsk-d-fhd-block
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden

  hr

  h4 Notes
  ul: li This sample relies on the optional #[a(href='https://style-kit.web.bas.ac.uk/core/icons/#font-awesome') font awesome icon font]
