//-
  sample:
    title: Clearfix
    code: .bsk-clearfix
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    header Two end floated items #[strong with] a clearfix item inbetween
    +alert('info', 'highlight')
      | When working correctly, the items will appear stacked vertically.

    div.bsk-col-md-3.bsk-float-end.app-visible-col-1
    div.bsk-clearfix
    div.bsk-col-md-3.bsk-float-end.app-visible-col-2

  <!-- required for internal use -->
  div.bsk-clearfix

  section.app-sample-section
    header Two end floated items #[strong without] a clearfix item inbetween

    div.bsk-col-md-3.bsk-float-end.app-visible-col-1
    div.bsk-col-md-3.bsk-float-end.app-visible-col-2

  <!-- required for internal use -->
  div.bsk-clearfix
