//-
  sample:
    title: Forms - inline checkbox input
    code: .bsk-form-check .bsk-form-check-inline input[type="checkbox"]
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-input-radio-checkbox--collection('checkbox', 'bsk-form-check bsk-form-check-inline')
