//-
  sample:
    title: Form input height
    code: .bsk-form-control .bsk-form-control-*
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-size('Small')
  +form-size('Regular')
  +form-size('Large')
