//-
  sample:
    title: Footer policy links
    code: .bsk-footer.bsk-footer-policy-links
  collections:
    - components--footers
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/footers.pug

block sample
  section.app-sample-section
    header Policy links

    +footer--default
      div.bsk-footer-policy-links
        ul.bsk-list-inline
          li.bsk-list-inline-item: a(href='#') Copyright
          li.bsk-list-inline-item: a(href='#') Privacy
          li.bsk-list-inline-item: a(href='#') Cookies
        | © (Year) British Antarctic Survey

  section.app-sample-section
    header Policy links with divider

    +footer--default
      | Footer content
      div.bsk-footer-divider(role='separator')
      div.bsk-footer-policy-links
        ul.bsk-list-inline
          li.bsk-list-inline-item: a(href='#') Copyright
          li.bsk-list-inline-item: a(href='#') Privacy
          li.bsk-list-inline-item: a(href='#') Cookies
        | © (Year) British Antarctic Survey
