//-
  sample:
    title: Drop down menu - active item
    code: .bsk-dropdown .bsk-dropdown-menu li a .bsk-dropdown-item .bsk-active
  collections:
    - components--drop-downs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/drop-downs.pug

block sample
  section.app-sample-section
    header Standard
    +dropdown--component
      li
        a.bsk-dropdown-item.bsk-active(href='#' aria-current='true') Active action