//-
  sample:
    title: Drop down menu - disabled item
    code: .bsk-dropdown-item .bsk-disabled li a.bsk-disabled
  collections:
    - components--drop-downs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/drop-downs.pug

block sample
  section.app-sample-section
    header Standard
    +dropdown--component
      li
        a.bsk-dropdown-item.bsk-disabled(href='#' tabindex='-1' aria-disabled='true') Disabled action