//-
  sample:
    title: Button group
    code: .bsk-btn-group
  collections:
    - components--button-groups
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/buttons.pug

block sample
  section.app-sample-section
    header Standard

    div.bsk-btn-group.app-spacing-bottom(role='group')
      +button(class='bsk-btn bsk-btn-primary')
        | one
      +button(class='bsk-btn bsk-btn-primary')
        | two
      +button(class='bsk-btn bsk-btn-primary')
        | three

    div.bsk-btn-group.app-spacing-bottom(role='group')
      +button(class='bsk-btn bsk-btn-primary')
        | one
      +button(class='bsk-btn bsk-btn-primary')
        | NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      +button(class='bsk-btn bsk-btn-primary')
        | Batman!

    div.bsk-btn-group.app-spacing-bottom(role='group')
      +button(class='bsk-btn bsk-btn-primary')
        | 1 NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      +button(class='bsk-btn bsk-btn-primary')
        | 2 NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      +button(class='bsk-btn bsk-btn-primary')
        | 3 (x3) NA NA NA NA NA NA NA NA NA NA NA NA NA
        | NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
        | NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      +button(class='bsk-btn bsk-btn-primary')
        | Batman!

  section.app-sample-section
    header Multiple sizes

    div.bsk-btn-group(role='group')
      +button(class='bsk-align-top bsk-btn bsk-btn-primary')
        | one
      +button(class='bsk-align-top bsk-btn bsk-btn-primary bsk-btn-sm')
        | two
      +button(class='bsk-align-top bsk-btn bsk-btn-primary bsk-btn-lg')
        | three
      +button(class='bsk-align-top bsk-btn bsk-btn-primary')
        | four
