//-
  sample:
    title: Button toolbar
    code: .bsk-btn-toolbar .bsk-btn-group
  collections:
    - components--button-groups
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/buttons.pug

block sample
  section.app-sample-section
    header Standard

    div.bsk-btn-toolbar(role='toolbar')
      div.bsk-btn-group(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | one
        +button(class='bsk-btn bsk-btn-primary')
          | two
        +button(class='bsk-btn bsk-btn-primary')
          | three

      div.bsk-btn-group(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | four

      div.bsk-btn-group(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | five
        +button(class='bsk-btn bsk-btn-primary')
          | six
        +button(class='bsk-btn bsk-btn-primary')
          | seven

