//-
  sample:
    title: Vertical button group
    code: .bsk-btn-group-vertical
  collections:
    - components--button-groups
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/buttons.pug

block sample
  section.app-sample-section
    header Standard

    div.app-spacing-bottom
      div.bsk-btn-group-vertical(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | one
        +button(class='bsk-btn bsk-btn-primary')
          | two
        +button(class='bsk-btn bsk-btn-primary')
          | three

    div.app-spacing-bottom
      div.bsk-btn-group-vertical(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | one
        +button(class='bsk-btn bsk-btn-primary')
          | two
        div.bsk-btn-group(role='group')
          button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Dropdown
            span.bsk-caret
          ul.bsk-dropdown-menu
            li: a(href='#') Action
            li: a(href='#') Another action
        +button(class='bsk-btn bsk-btn-primary')
          | three

    div
      div.bsk-btn-group-vertical(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | 1 NA NA NA NA NA NA NA NA NA NA NA NA NA NA
        +button(class='bsk-btn bsk-btn-primary')
          | 2 NA NA NA NA NA NA NA NA NA NA NA NA NA NA
        +button(class='bsk-btn bsk-btn-primary')
          | 3 (x3) NA NA NA NA NA NA NA NA NA NA NA NA NA
          | NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
          | NA NA NA NA NA NA NA NA NA NA NA NA NA NA
        +button(class='bsk-btn bsk-btn-primary')
          | Batman!

  section.app-sample-section
    header Multiple sizes

    div.app-spacing-bottom
      div.bsk-btn-group-vertical(role='group')
        +button(class='bsk-btn bsk-btn-primary')
          | one
        +button(class='bsk-btn bsk-btn-primary bsk-btn-sm')
          | two
        +button(class='bsk-btn bsk-btn-primary bsk-btn-lg')
          | three
        +button(class='bsk-btn bsk-btn-primary')
          | four
