//-
  sample:
    title: Navbar collapse plugin
    type: javascript
  ---

extends ../layouts/app-sample.pug

block sample
  nav.bsk-navbar.bsk-navbar-expand-md.bsk-navbar-dark.bsk-bg-dark
    div.bsk-container-fluid
      <!-- Site name and toggle get grouped for better mobile display -->
      a.bsk-navbar-brand(href='#') Site Name
      button.bsk-navbar-toggler.bsk-collapsed.bsk-ms-auto(type='button' data-bs-toggle='collapse' data-bs-target='#bsk-example-navbar-collapse-1' aria-expanded='false')
        span.bsk-navbar-toggler-icon

      <!-- Collect navigation links, forms, and other items for hiding at smaller screen sizes -->
      div.bsk-collapse.bsk-navbar-collapse#bsk-example-navbar-collapse-1
        ul.bsk-nav.bsk-navbar-nav
          li.bsk-active: a(href='#') Home #[span.bsk-visually-hidden (current)]
          li: a(href='#') About
          li.bsk-dropdown
            a.bsk-dropdown-toggle.bsk-nav-link(href='#' role='button' id='dropdownMenu1' data-bs-toggle='dropdown' aria-expanded='false')
              | Dropdown
            ul.bsk-dropdown-menu(aria-labelledby='dropdownMenu1')
              li: a.bsk-dropdown-item(href='#') Action
              li: a.bsk-dropdown-item(href='#') Another action
              li: a.bsk-dropdown-item(href='#') Something else here
              li.bsk-divider(role='separator')
              li: a.bsk-dropdown-item(href='#') Separated link
              li.bsk-divider(role='separator')
              li: a.bsk-dropdown-item(href='#') One more separated link

          ul.bsk-nav.bsk-navbar-nav.bsk-navbar-right
            li.bsk-dropdown
              a.bsk-dropdown-toggle.bsk-nav-link(href='#' role='button' id='dropdownMenu2' data-bs-toggle='dropdown' aria-expanded='false')
                | Part of British Antarctic Survey
              ul.bsk-dropdown-menu(aria-labelledby='dropdownMenu2')
                li: a.bsk-dropdown-item(href='https://www.bas.ac.uk') BAS Home
                li: a.bsk-dropdown-item(href='#') Another link
                li: a.bsk-dropdown-item(href='https://data.bas.ac.uk') Discover BAS data
            li: a(href='#') Feedback
