div.bsk-footer-policy-links.bsk-float-end
    ul.bsk-list-inline
        li.bsk-list-inline-item: a(href=bsk_attributes.site_footer_policies_cookies_href) Cookies
        li.bsk-list-inline-item: a(href=bsk_attributes.site_footer_policies_copyright_href) Copyright
        li.bsk-list-inline-item: a(href=bsk_attributes.site_footer_policies_privacy_href) Privacy
    | #{(new Date()).getFullYear()} British Antarctic Survey
