//button.bsk-navbar-toggler.bsk-collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
  span.bsk-navbar-toggler-icon.bsk-visually-hidden-focusable

button.bsk-navbar-toggler.bsk-ms-auto(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-collapse' aria-expanded='false' aria-label='Toggle navigation')
  span.bsk-navbar-toggler-icon
  span.bsk-navbar-toggler-icon.bsk-visually-hidden-focusable
