if bsk_attributes.container_class == 'bsk-container'
    - var container_type = 'fixed';
else if bsk_attributes.container_class == 'bsk-container-fluid'
    - var container_type = 'fluid';
else
    - var container_type = null;

div(class='bsk-fix-alert-static-top-' + container_type + '-container-wrapper')
    div(class=bsk_attributes.container_class)
        //- button(type='button' data-cc='c-settings') Cookie settings