mixin dropdown--button(interactive)
  if interactive == 'yes'
    div.bsk-dropdown
      button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Dropdown
      ul.bsk-dropdown-menu(class!=attributes.class)
        li: a.bsk-dropdown-item(href='#') Action
        li: a.bsk-dropdown-item(href='#') Another action
  else
    div.bsk-dropdown
      button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle(type='button')
        | Dropdown
      ul.bsk-dropdown-menu(class!=attributes.class)
        li: a.bsk-dropdown-item(href='#') Action
        li: a.bsk-dropdown-item(href='#') Another action

mixin dropdown--split-button(interactive)
  if interactive == 'yes'
    div.bsk-btn-group
      button.bsk-btn.bsk-btn-primary(type='button') Dropdown
      button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle.bsk-dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        span.bsk-visually-hidden Toggle Dropdown
      ul.bsk-dropdown-menu(class!=attributes.class)
        li: a.bsk-dropdown-item(href='#') Action
        li: a.bsk-dropdown-item(href='#') Another action
  else
    div.bsk-btn-group
      button.bsk-btn.bsk-btn-primary(type='button') Dropdown
      button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle.bsk-dropdown-toggle-split(type='button')
        span.bsk-visually-hidden Toggle Dropdown
      ul.bsk-dropdown-menu(class!=attributes.class)
        li: a.bsk-dropdown-item(href='#') Action
        li: a.bsk-dropdown-item(href='#') Another action

mixin dropdown--reversed(interactive)
    div.bsk-dropup
      button.bsk-btn.bsk-btn-primary.bsk-dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Dropdown
      ul.bsk-dropdown-menu(class!=attributes.class)
        li: a.bsk-dropdown-item(href='#') Action
        li: a.bsk-dropdown-item(href='#') Another action

mixin dropdown--component(interactive)
    div.bsk-dropdown
      button.bsk-btn.bsk-btn-default.bsk-dropdown-toggle(type='button')
        | Dropdown
      ul.bsk-dropdown-menu.app-simulated-state-open
        li: a.bsk-dropdown-item(href='#') Action
        block
        li: a.bsk-dropdown-item(href='#') Another action
