mixin navbar--default(item_alignment)
  nav.bsk-navbar.bsk-navbar-expand(class!=attributes.class)
    if item_alignment == 'left'
      div.bsk-container-fluid
        block
    else if item_alignment == 'right'
      div.bsk-container-fluid
        block
    else
      div.bsk-container-fluid
        block

mixin navbar--header
  nav.bsk-navbar.bsk-navbar-dark.bsk-bg-dark(class!=attributes.class)
    div.bsk-container-fluid
      div.bsk-navbar-header
        block

mixin navbar--collapse
  nav.bsk-navbar.bsk-navbar-dark.bsk-bg-dark
    div.bsk-container-fluid
      div.bsk-navbar-header
        button.bsk-navbar-toggler.bsk-collapsed(type='button' data-bs-toggle='collapse' aria-expanded='false')
          span.bsk-visually-hidden Toggle navigation
          span.bsk-navbar-toggler-icon

      div.bsk-collapse.bsk-navbar-collapse
        block

mixin navbar--buttons()
  section.app-sample-section
    header Standard

    +navbar--default
      button.bsk-btn.bsk-navbar-btn(class!=attributes.class) Action

    +navbar--default
      button.bsk-btn.bsk-navbar-btn(class!=attributes.class) Action
      button.bsk-btn.bsk-navbar-btn.bsk-btn-primary Another action

  section.app-sample-section
    header With item

    +navbar--default
      ul.bsk-nav.bsk-navbar-nav
        li: a(href='#') Item
      button.bsk-btn.bsk-navbar-btn(class!=attributes.class) Action

mixin navbar--lots-of-items(number_of_items)
  each item in [...Array(number_of_items - 1).keys()]
    li: a(href="#") Item #{ item + 1 }

mixin navbar--form-input
  div.bsk-form-group
    label.bsk-visually-hidden input
    input.bsk-form-select(type='text')

mixin navbar--form-select
  div.bsk-form-group
    label.bsk-visually-hidden select input
    select.bsk-form-select
      option(value='option-1') Option 1
      option(value='option-2') Option 2
      option(value='option-3') Option 3

mixin navbar--form-submit
  button.bsk-btn.bsk-navbar-btn.bsk-btn-primary(type='submit') Submit

mixin navbar--form-radio-checkbox(variant)
  fieldset.bsk-form-group
    div.bsk-form-check.bsk-form-check-inline
      input.bsk-check-input(type=variant name='form-radio-example-1' id='form-radio-example-1-a' value='A')
      label.bsk-check-label
        | Option 1 (A)
    div.bsk-form-check.bsk-form-check-inline
      input.bsk-check-input(type=variant name='form-radio-example-1' id='form-radio-example-1-b' value='B')
      label.bsk-check-label   
        | Option 1 (B)
    div.bsk-form-check.bsk-form-check-inline
      input.bsk-check-input(type=variant name='form-radio-example-1' id='form-radio-example-1-c' value='C')
      label.bsk-check-label
        | Option 1 (C)

mixin navbar--dropdown
  li.bsk-dropdown
    a.bsk-dropdown-toggle.bsk-nav-link(href='#' role='button' id='dropdownMenu1' data-bs-toggle='dropdown' aria-expanded='false')
      | Dropdown
    ul.bsk-dropdown-menu(aria-labelledby='dropdownMenu1')
      li: a.bsk-dropdown-item(href='#') Action
      li: a.bsk-dropdown-item(href='#') Another item

mixin navbar--link
  a.bsk-navbar-link(href='#') Link

mixin navbar--item-variant(variant)
  section.app-sample-section
    header Standard

    +navbar--default
      ul.bsk-nav.bsk-navbar-nav
        li: a(href="#") Item
        if variant == 'active'
          li.bsk-active: a(href="#") Active item
        else if variant == 'disabled'
          li.bsk-disabled: a(href="#") Disabled item
        li: a(href="#") Another item

  section.app-sample-section
    header With drop-down

    +navbar--default
      ul.bsk-nav.bsk-navbar-nav
        li: a(href="#") Item
        li.bsk-dropdown
          a.bsk-dropdown-toggle.bsk-nav-link(href='#' role='button' id='dropdownMenu1' data-bs-toggle='dropdown' aria-expanded='false')
            | Dropdown
          ul.bsk-dropdown-menu(aria-labelledby='dropdownMenu1')
            li: a(href='#') Action
            if variant == 'active'
              li.bsk-active: a(href='#') Active action
            else if variant == 'disabled'
              li.bsk-disabled: a(href='#') Disabled action
            li: a(href='#') Another item
        li: a(href="#") Another item
