//
// Buttons
// --------------------------------------------------

.btn-primary {
  --bs-btn-color: #fff;
  color: #fff !important;
  background-color: #28a197;
  border-color: #28a197;
}

.btn-default {
  --bs-btn-color: #333;
  color: #333 !important;
  background-color: #eee;
  border-color: #eee;
}

.btn-default:hover,
.btn-default:active {
  color: #333;
  background-color: #d5d5d5;
  border-color: #cfcfcf;
}

.btn-default {
  &.active {
    color: #333;
    background-color: #d5d5d5;
    background-image: none;
    border-color: #cfcfcf;
  }
}

.btn,
.btn:active {
  &.active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}

// .btn {
//   &:disabled,
//   &.disabled,
//   fieldset:disabled & {
//     color: #333 !important;
//     pointer-events: none;
//     background-color: #eee;
//     background-image: none;
//     border-color: #eee;
//     opacity: .65;
//     box-shadow: none;
//   }
// }

.btn-default:focus,
.btn-default:focus-visible {
  color: #333;
  background-color: #d5d5d5 !important;
  border-color: #aeaeae !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:focus-visible {
  --bs-btn-color: #FFF;
  color: #FFF !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:focus-visible {
  --bs-btn-color: #333;
  color: #333 !important;
}

.btn-info {
  --bs-btn-color: #fff;
  color: #FFF !important;
  background-color: #2b8cc4;
  border-color: #2b8cc4;
}

.btn-info:hover {
  color: fff;
  background-color: #226e9a;
  border-color: #206892;
}

.btn-info:focus,
.btn-info:focus-visible {
  color: #FFF;
  background-color: #14415b !important;
  border-color: #14415b !important;
}

.btn-lg {
  border-radius: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

// BAS extra buttons
// --------------------------------------------------

.btn-experimental {
    @include button-variant(
      $btn-experimental-bg,
      $btn-experimental-border,
      $btn-experimental-color
    );
}

.btn-ms-account {
  color: #333;
  background-color: #eee;
  border-color: #eee;
}
  
.btn-ms-account {
  @include button-variant(
    $btn-default-bg,
    $btn-default-border,
    $btn-default-color
  );

  object.ms-pictogram {
    @include align-svg-to-baseline();
  }
}

.btn-xs {
  @include button-size(
    $btn-padding-y-xs,
    $btn-padding-x-xs,
    $btn-font-size-xs,
    $btn-border-radius-xs
  );
}