
.progress-bar-success {
  background-color: #379245;
}

.progress-bar-warning {
  background-color: #ffbf47;
}

.progress-bar-danger {
  background-color: #b10e1e;
}

.progress-bar-info {
  background-color: #2b8cc4;
}