div.bsk-lead
  span.bsk-d-none.bsk-d-sm-inline.bsk-text-muted Extra small
  span.bsk-d-inline.bsk-d-sm-none: strong Extra small
  | &nbsp;·&nbsp;
  span.bsk-d-sm-none.bsk-d-md-inline.bsk-text-muted Small
  span.bsk-d-none.bsk-d-sm-inline.bsk-d-md-none: strong Small
  | &nbsp;·&nbsp;
  span.bsk-d-md-none.bsk-d-lg-inline.bsk-text-muted Medium
  span.bsk-d-none.bsk-d-md-inline.bsk-d-lg-none: strong Medium
  | &nbsp;·&nbsp;
  span.bsk-d-lg-none.bsk-d-xl-inline.bsk-text-muted Large
  span.bsk-d-none.bsk-d-lg-inline.bsk-d-xl-none: strong Large
  | &nbsp;·&nbsp;
  span.bsk-d-xl-none.bsk-d-fhd-inline.bsk-text-muted Extra large (custom size)
  span.bsk-d-none.bsk-d-xl-inline.bsk-d-fhd-none: strong Extra large (custom size)
  | &nbsp;·&nbsp;
  span.bsk-d-fhd-none.bsk-text-muted Full HD (custom size)
  span.bsk-d-none.bsk-d-fhd-inline: strong Full HD (custom size)
  